<a id="Education"></a>
	<h4>Education</h4>
		<p>
		<ul>
			<li>Bitmaker Labs 9 Week Web Programming Bootcamp</li>
			<li>George Brown College - Post Graduate Diploma, Behavioural Science Technology</li>
			<li>University of Toronto - Honours BSc., majors in Neuroscience and Psychology</li>
		</ul> 
		</p>